@model ProductsAllCoffeesViewModel

<h1>Index</h1>

<partial name="NotificationPartialView"/>

<div class="col-6 text-end">
    <a asp-area="Admin" asp-controller="Admin" asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-circle"></i> &nbsp; New Product</a>
</div>

    <div class="container py-5">




          @foreach (var coffee in Model.AllCoffees)
    {
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img asp-append-version="true" src="@coffee.ImageString" class="w-75" alt="Product Primary Image">
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>@coffee.Name</h5>
                                <div class="d-flex flex-row text-muted small">
                                    <span class="prop-title">Product Id: &nbsp;</span>
                                    <span>@coffee.Id</span>
                                </div>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span class="prop-title">Description: </span>
                                    <span>@coffee.Description</span>
                                </div>
                                <div class="mb-2 text-muted small">
                                    <span class="prop-title">Origin: </span>
                                    <span>@coffee.Origin</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">$@coffee.Price</h4>
                                </div>
                               
                                <div class="d-flex flex-column mt-4">
                                    <a asp-area="Admin" asp-controller="Admin" asp-action="Edit" asp-route-id="@coffee.Id"
                                       type="button" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square button-text"></i><span class="button-text"> Edit</span></a>

                                    <a asp-area="Admin" asp-controller="Admin" asp-action="Delete" asp-route-id="@coffee.Id"
                                       type="button" class="btn btn-outline-danger btn-sm mt-2"><i class="bi bi-trash button-text"></i><span class="button-text"> Delete</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>