@model VolunteerApplyViewModel

<div class="card mx-auto" style="width: 70%" id="volunteer-success">
	<div class="card-body">
		<h5 class="card-title">Success!</h5>
		<p>
			Thank you for applying with us, we will reach out to our farmers in
			@Model.GetCountry(Model.SelectedCountryId) and get back to you within 5 working days.
		</p>
		<hr class="mx-n3">
		<h6 class="card-subtitle mb-2">Summary of your application:</h6>
		<table class="table">
			<tr>
				<td>Full Name:</td>
				<td>@Model.FirstName @Model.LastName</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>@Model.Email</td>
			</tr>
			<tr>
				<td>Arrival Date:</td>
				<td>@Model.FromDate.ToString("dd/MM/yyyy")</td>
			</tr>
			<tr>
				<td>Departure Date:</td>
				<td>@Model.ToDate.ToString("dd/MM/yyyy")</td>
			</tr>
			<tr>
				<td>Country Selected:</td>
				<td>@Model.GetCountry(Model.SelectedCountryId)</td>
			</tr>
		</table>
	</div>
</div>

