@model FlavorListComponentViewModel

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle lighter-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Flavors
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

        <a class="dropdown-item" asp-area="" asp-controller="Properties" asp-action="AllProperties">View All</a>

        @foreach(var flavor in Model.MenuLinks)
        {
            <a class="dropdown-item filter-item" asp-controller="@flavor.Controller"
               asp-action="@flavor.Action" asp-route-id="@flavor.Id" asp-route-slug="@flavor.Name">@flavor.Name</a>
        }

    </div>
</li>

