@model ShoppingCartViewModel

<div class="container p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                
                <div class="d-flex flex-row align-items-center">                  
                    <a asp-controller="Products" asp-action="AllCoffees" id="go-back"><span class="ml-2"> 
                        <i class="bi bi-arrow-left"></i> Continue Shopping</span></a>
                </div>
                <hr>
                <h6 class="mb-0">Shopping cart</h6>
                <div class="d-flex justify-content-between">
                    <span>You have @Model.TotalQuantity items in your cart</span>                
                </div>

                @foreach (var item in Model.CartItems)
                {

                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                        <div class="d-flex flex-row">
                            <img class="rounded" asp-append-version="true" src="@item.Coffee.ImageString" alt="Product Image" width="40">
                            <div class="ml-2"><span class="font-weight-bold d-block">@item.Coffee.Name</span><span class="spec">@item.Coffee.Category.Name,</span> <small>@item.Coffee.Origin</small></div>
                        </div>
                        <div class="d-flex flex-row align-items-center"><span class="d-block">@item.Quantity</span><span class="d-block ml-5 font-weight-bold">$@item.ItemsTotal</span>
                            <a asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.Coffee.Id" type="button" class="btn btn-sm btn-outline-secondary" id="trash">
                                <i class="bi bi-trash"></i>
                            </a>
                            
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col-md-4">
            <div class="payment-info">
                <div class="d-flex justify-content-between align-items-center"><span>Card details</span><img class="rounded" src="~/images/customer.jpg" width="30"></div><span class="type d-block mt-3 mb-1">Card type</span><label class="radio"> <input type="radio" name="card" value="payment" checked> <span><img width="30" src="https://img.icons8.com/color/48/000000/mastercard.png" /></span> </label>

                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/visa.png" /></span> </label>

                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/ultraviolet/48/000000/amex.png" /></span> </label>


                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/paypal.png" /></span> </label>
                <div><label class="credit-card-label">Name on card</label><input type="text" class="form-control credit-inputs" placeholder="Name"></div>
                <div><label class="credit-card-label">Card number</label><input type="text" class="form-control credit-inputs" placeholder="0000 0000 0000 0000"></div>
                <div class="row">
                    <div class="col-md-6"><label class="credit-card-label">Date</label><input type="text" class="form-control credit-inputs" placeholder="12/24"></div>
                    <div class="col-md-6"><label class="credit-card-label">CVV</label><input type="text" class="form-control credit-inputs" placeholder="342"></div>
                </div>
                <hr class="line">
                <div class="d-flex justify-content-between information"><span>Subtotal</span><span>$@Model.SubTotal</span></div>
                <div class="d-flex justify-content-between information"><span>Shipping</span><span>$@Model.Shipping</span></div>
                <div class="d-flex justify-content-between information"><span>Total(Incl. taxes)</span><span>$@Model.TotalPrice</span></div>
                <a asp-controller="ShoppingCart" asp-action="Checkout" type="button" class="btn btn-primary btn-block d-flex justify-content-between mt-3" id="checkout"><span>$@Model.TotalPrice</span><span>Checkout</span></a>
            </div>
        </div>
    </div>
</div>
