@model CategoryListComponentViewModel

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle lighter-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

        <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="AllCategories">View All</a>

        @foreach (var category in Model.MenuLinks)
        {
            <a class="dropdown-item filter-item" asp-controller="@category.Controller"
               asp-action="@category.Action" asp-route-id="@category.Id" asp-route-slug="@category.Name">@category.Name</a>
        }

    </div>
</li>

