@model CategoriesAllCategoriesViewModel

<h1 class="text-center">@ViewBag.PageTitle</h1>

<div class="container">
	<div class="row g-2">

		@foreach (var category in Model.AllCategories)
		{
			
			<div class="col-12 col-md-6 col-lg-4 top-buffer">
				<a asp-area="" asp-controller="Products" asp-action="FilteredByCategory" asp-route-id="@category.Id" asp-route-slug="@category.Name">
				<div class="card">
					 
						 <img asp-append-version="true" src="@category.ImageString" class="card-img-top" id="cat-card" alt="Product Primary Image">

					<div id="category-item" class="card-img-overlay d-flex flex-column justify-content-center">
						<h5 class="card-title">@category.Name</h5>	
							
							@if(category.Id == 1)
							{

								<p class="card-text">
									Lightly roasted coffee beans have have a light brown color and don't have oils on their surface because they are not roasted long enough for the oils to reach the surface.
									They’ll have a fruity aroma and the flavors of their origin will be more distinct.
								</p>

							}
							else if (category.Id == 2){
								<p class="card-text">
									Medium roast coffee is considered to be sweeter than the light roast, with more body and balanced acidity. 
									This combination gives a smooth flavor. The medium roast style was the first foray into the world of coffee roasting.
								</p>
							}
							else if (category.Id == 3)
							{
								<p class="card-text">
									Dark roast coffee has a shiny black color with an oily face. Unlike the other roast types, it has a bittersweet taste. 
									Dark roasts usually have a substantial bitterness to their taste. 
									This is also because some flavors of the beans are lost in the roasting process. But it doesn't mean that they are bland.
								</p>
							}
							else {<p>No information available</p>}						
					</div>
				</div>
				</a>
			</div>
			
		}

	</div>
</div>


