@model ProductsAllCoffeesViewModel

<div class="container">
    <div class="row g-2">

        @foreach (var coffee in Model.AllCoffees)
		{

        <div class="col-12 col-md-6 col-lg-4 top-buffer">
            <div class="card">
                <img asp-append-version="true" src="@coffee.ImageString" class="card-img-top" alt="Product Primary Image">
                <div class="card-body">
                    <h5 class="card-title">@coffee.Name</h5>
                        <small id="cat-link"><a asp-area="" asp-controller="Products" asp-action="FilteredByCategory" asp-route-id="@coffee.Category.Id" asp-route-slug="@coffee.Category.Name">@coffee.Category.Name</a></small>
                    <p class="card-text"><small class="text-muted">From $@coffee.Price</small></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                                <a asp-controller="Products" asp-action="CoffeeDetails" asp-route-id="@coffee.Id" asp-route-slug="@coffee.Name" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@coffee.Id" type="button" class="btn btn-sm btn-outline-secondary">Add to cart</a>
                        </div>
                    </div>
                    @if (coffee.CertifiedOrganic){
                        <div id="organic">
                            <img src="/images/cert.png" width="70" height="70" class="d-inline-block align-top" alt="">
                        </div>
                    }
                        
                </div>
            </div>
        </div>
		}

    </div>
</div>