@model OrderAllOrdersViewModel

<h1 class="text-center">Order Manager</h1>

<partial name="NotificationPartialView"/>

    <div class="container py-5">


          @foreach (var order in Model.AllOrders)
    {
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            @* <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img asp-append-version="true" src="@coffee.ImageString" class="w-75" alt="Product Primary Image">
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div> *@
                            <div class="col-md-10 col-lg-10 col-xl-10">
                                <h5 class="d-inline-block">Order ID:</h5><span> @order.Id</span>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span class="prop-title">Order Date: </span>
                                    <span>@order.OrderDate</span>
                                </div>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span class="prop-title">Customer Name: </span>
                                    <span>@(String.IsNullOrWhiteSpace(order.CustomerName) ? "Guest" : order.CustomerName)</span>
                                </div>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span class="prop-title">Order Status: </span>
                                    <span>@order.Status</span>
                                </div>
                               @*  <div class="mb-2 text-muted small">
                                    <span class="prop-title">Customer Name: </span>                                
                                        <span>@order.CustomerName</span>
                                    <span class="prop-title">Order Status: </span>
                                    <span>@order.Status</span>
                                </div> *@
                            </div>
                                <div class="d-flex flex-column mt-4">
                                <a asp-area="Admin" asp-controller="Order" asp-action="ShowDetails" asp-route-id="@order.Id"
                                       type="button" class="btn btn-sm btn-outline-secondary"><span> Manage Order </span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    }
</div>

